

/local
**.tar.gz
**.sha256
**.zip
/dist
/logs
**/got.json
**/want.json
**.log
**.exe
**.exe~
/bin
/test.db

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*tfplan*
**/token.key
**/.terraform.lock.hcl